.promotedSection {
  text-align: center;
  width: 100%;
  margin: 30px 0;

  h3 {
    margin: 30px 0;
  }

  > div {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    user-select: none;


    .item {
      background-color: #fff;
      padding: 14px;
      display: flex;
      flex-direction: column;
      cursor: pointer;

      img{
        background-color: rgb(212, 250, 244);
      }

      .info{
        min-height: 172px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .title{
          margin: 20px 0 10px;
          font-size: 18px;
          font-weight: 600;
        }

        
      }

    }


    a {
      display: block;
      margin-bottom: 40px;
      padding: 0 6px;
      text-align: center;
      background-color: #fff;
      img {
        width: 88px;
        height: 88px;
        margin: 0 auto;
        text-align: center;
        display: block;        
        border-radius: 50%;
      }
    }




  }
}
