.searchContainer {  
  height: 194px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  input{
    background-color: #fff;
    height: 72px;
    border: 0;
    padding: 10px;
  }

  .searchInput{
    flex-grow: 3;
  }
  .locationInput{
    border-left:3px solid #f0f0f0;
  }

  button {
    height: 72px;
    padding: 0 30px;
    background-color: #02282c;
    color: white;
    border: none;
    transition: color 0.3 ease;
  }
  button:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
  }
}
