@use "cssreset.scss";

:root {
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.siteHeader {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* Internet Explorer/Edge */
  user-select: none;         /* Standard syntax */
} 

#root {  
  max-width: 900px;
  width: 100%;
  height: 100%;
  position: relative;
}

.siteHeader {
  background-color: #02282c;
  height: 90px;
  border-radius: 10px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0 2px 5px 3px #ccc;
}

.siteHeader img {
  margin-right: auto;
}

.siteHeader nav a {
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  cursor: pointer;
  transition: opacity 0.15s ease;
}
.siteHeader nav a:hover {
  opacity: 0.6;
}

.siteHeader button {
  margin-left: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: darkblue;
  font-weight: bold;
  cursor: pointer;
}

.siteHeader button:hover {
  background-color: rgb(124, 180, 180);
  color: rgb(245, 245, 245);
//   font-weight: normal;
}
