@use "cssreset.scss";
@use "search.scss";
@use "pageSection.scss";
@use "footer.scss";
@use "categoriessection.scss";
@use "promotesdsection.scss";

a:link, a:visited {
  color: inherit; /* or set to your desired color, e.g., blue */
  text-decoration: none; /* removes underline if desired */
}

:root {
  width: 100%;
  // height: 100%;
  // min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  // background-color: #f5f5f5;
}

.siteHeader {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

#root {  
  width: 100%;
  height: 100%;
  position: relative;
}

.siteHeader {
  background-color: #02282c;
  height: 90px;
  border-radius: 10px;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0 2px 5px 3px #ccc;
  ul {
    list-style: none;
    li {
      display: inline-block;
      color: #fff;
      a {        
        text-decoration: none;
        padding: 0 10px;
        cursor: pointer;
        transition: opacity 0.15s ease;
      }
      a:hover {
        opacity: 0.6;
      }
    }
  }  
  img {  
    margin-right: auto;
  }
}

.siteHeader button {
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  color: darkblue;
  font-weight: bold;
  cursor: pointer;
  order: 2;
  transition: all .3s ease;
}

.siteHeader button:hover {
  background-color: rgb(124, 180, 180);
  color: rgb(245, 245, 245);  
}
